// configuration
$base-font-family: "'Helvetica Neue', monospace" !default;
$heading-font-family: $base-font-family !default;
$body-font-family: $base-font-family !default;
$heading-font-size-base: .25rem;

$primary-color: #cf4c25 !default;
$secondary-color: #E9F1FF !default;
$accent-color: #0060a9 !default;
$error-color: #ba1b1b !default;
$success-color: #4bb543 !default; 
$warn-color: yellow !default;
$info-color: #001C38 !default;

$body-color: white !default;

