@use '@angular/material' as mat;
 
$primary-palette: createPalette($primary-color);
$secondary-palette: createPalette($secondary-color);
$accent-palette: createPalette($accent-color);
$error-palette: createPalette($error-color);
$success-palette: createPalette($success-color);
$warn-palette: createPalette($warn-color);
$info-palette: createPalette($info-color);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$theme-primary: mat.define-palette($primary-palette);
$theme-accent: mat.define-palette($accent-palette);

// The warn palette is optional (defaults to red).
$theme-error: mat.define-palette($error-palette);

// Custom palettes
$theme-secondary: mat.define-palette($secondary-palette);
$theme-success: mat.define-palette($success-palette);
$theme-warn: mat.define-palette($warn-palette);
$theme-info: mat.define-palette($info-palette);
