@use 'sass:map';
@use '@angular/material' as mat;

@mixin customize() {
    .mat-mdc-form-field {
        background-color: #ffffff;
        border: 1px solid black;
        border-radius: 32px;
        height: 42px;
    
        &.selector,
        &.autocomplete {
          width: 300px;
          min-width: 300px;
        }
    
        .mat-mdc-form-field-subscript-wrapper {
          display: none;
        }
    
        .mdc-line-ripple {
          display: none;
        }
    
        .mat-mdc-text-field-wrapper {
          border-radius: 32px;
          display: flex;
          align-items: center;
        }
    
        .mat-mdc-form-field-infix {
          padding-top: 18px !important;
        }
    
        .mat-mdc-form-field-focus-overlay {
          background: transparent;
        }
    
        .mat-mdc-select-arrow-wrapper {
          transform: translateY(-2px) !important;
        }
    
        .mat-mdc-select-arrow {
          color: black;
        }
      }
}

@mixin theme($theme) {
    @include customize();
}